@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
@font-face {
  font-family: "UniSans";
  font-display: swap;
  src: url("../fonts/uni-sans-regular.woff") format("woff"), url("../fonts/uni-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 12px;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

._container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.main {
  padding: 40px;
}
@media (max-width: 860px) {
  .main {
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .main {
    padding: 10px 0;
  }
}
.main__body {
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f7f7f7;
  border-radius: 15px;
}
@media (max-width: 860px) {
  .main__body {
    padding: 20px;
  }
}
@media (max-width: 640px) {
  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 500px) {
  .main__body {
    padding: 0px;
  }
}

.sidebar {
  background: #1e2939;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(59, 40, 40, 0.64);
          box-shadow: 0px 0px 20px 0px rgba(59, 40, 40, 0.64);
  max-width: 373px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  /* display: flex; */
}
@media (max-width: 860px) {
  .sidebar {
    max-width: 273px;
  }
}
@media (max-width: 640px) {
  .sidebar {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px 0px 20px 0px;
  }
}
.sidebar__img-box {
  border-radius: 50%;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 640px) {
  .sidebar__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .sidebar__img-box picture {
    width: 30%;
  }
}
.sidebar__img {
  max-width: 100%;
  border-radius: 50%;
}
@media (max-width: 640px) {
  .sidebar__img {
    max-width: 100%;
  }
}

.about-me-container {
  padding: 65px 50px;
}
@media (max-width: 767.98px) {
  .about-me-container {
    padding: 25px 15px 25px 20px;
  }
}

.part {
  margin: 50px 20px 0px 20px;
}
@media (max-width: 860px) {
  .part {
    margin: 30px 10px 0px 0px;
  }
}
@media (max-width: 640px) {
  .part {
    display: none;
  }
}

.contacts {
  padding: 0px 30px 0px 30px;
}
.contacts.mob {
  display: none;
}
@media (max-width: 640px) {
  .contacts.part {
    display: none;
    padding: 0;
    margin: 20px auto 0px;
    max-width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .contacts.mob {
    display: block;
    padding: 0;
    margin: 20px auto 0px;
    max-width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
.contacts__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .contacts__title {
    font-size: 22px;
  }
}
.contacts__box {
  white-space: nowrap;
}
@media (max-width: 640px) {
  .contacts__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  color: #626974;
  margin: 0px 0px 10px 0px;
  -webkit-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}
@media (min-width: 991.98px) {
  .contacts__link:hover {
    color: #fff;
  }
}
.contacts__link a {
  color: #626974;
}
@media (max-width: 640px) {
  .contacts__link {
    width: 35px;
    height: 35px;
  }
}
.contacts__link-type {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}
@media (max-width: 767.98px) {
  .contacts__link-type {
    width: 20px;
    height: 25px;
  }
}
.contacts__link-type svg {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}
@media (min-width: 991.98px) {
  .contacts__link-type svg:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 767.98px) {
  .contacts__link-type svg {
    width: 20px;
    height: 25px;
  }
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills {
  padding: 0px 30px 0px 30px;
}
@media (max-width: 640px) {
  .tech-skills {
    display: none;
  }
}
.tech-skills__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .tech-skills__title {
    font-size: 22px;
  }
}
.tech-skills__text {
  display: block;
  color: #d2d4d7;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 25px;
  padding: 0px 0px 10px 25px;
  white-space: nowrap;
}
.tech-skills__text:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0px 10px 0px 0px;
}
@media (max-width: 640px) {
  .tech-skills__text {
    line-height: 24px;
    margin-left: 25px;
    padding: 0px 0px 10px 5px;
  }
}

.profession {
  color: #000000;
  font-size: 33px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 23px;
}
@media (max-width: 767.98px) {
  .profession {
    font-size: 25px;
    line-height: 30px;
  }
}

.name {
  color: #000000;
  font-size: 55px;
  font-weight: 700;
  line-height: 89px;
}
@media (max-width: 767.98px) {
  .name {
    font-size: 35px;
    line-height: 55px;
  }
}

.description {
  color: #595959;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  /* width: 415px; */
}
@media (max-width: 767.98px) {
  .description {
    font-size: 16px;
    line-height: 22px;
  }
}
.description p:not(:first-child) {
  padding: 0px 0px 0px 30px;
}

.info-container {
  margin-bottom: 65px;
}

.my-projects {
  margin-top: 55px;
}

.about-me-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

.projects-item {
  font-weight: 700;
  margin-left: 17px;
}

.prof_title {
  color: #ff6b08;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.prof_title__link {
  color: #ff6b08;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 991.98px) {
  .prof_title__link:hover {
    text-decoration: underline;
  }
}

.prof_black {
  color: #000000;
}

.prof_time {
  color: #a8a8a8;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.divider {
  width: 3px;
  height: 17px;
  color: #000000;
}

.prof_duties {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25;
  margin-left: 17px;
}

.managment {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-me-title-mob {
  display: inline-block;
  font-size: 14px;
}

.projects {
  padding: 0px 0px 0px 30px;
}
.projects__item {
  position: relative;
}
.projects__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #595959;
  font-size: 18px;
  font-weight: 400;
  padding: 3px 0px 3px 0px;
  margin: 1px 0px 1px 0px;
  -webkit-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}
.projects__link span {
  margin-right: 5px;
}
@media (min-width: 991.98px) {
  .projects__link:hover {
    color: #ff6b08;
  }
  .projects__link:hover + .projects__preview {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}
.projects__preview {
  position: absolute;
  top: 0%;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  width: 400px;
  height: 300px;
  -webkit-transition: all 0.2s linear 0.1s;
  -o-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}
.projects__preview img,
.projects__preview source {
  position: absolute;
  width: 100%;
  height: auto;
  top: 25px;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.projects__item-pages {
  margin: 0px 0px 0px 30px;
}

.shimmer {
  display: inline-block;
  color: white;
  background: #000 -webkit-gradient(linear, 100% 0, 0 0, from(#000), color-stop(0.5, #ffffff), to(#000));
  background-position: -4rem top;
  /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 6.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
  /*50px*/
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/
  }
  70% {
    background-position: 32.5rem top;
    /*200px*/
  }
  100% {
    background-position: 32.5rem top;
    /*200px*/
  }
}